@import "../../scss/utils/variables";

.task-nav {
    color: $DarkGrayishBlue;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 100;

    .button-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column: 1/-1;
        grid-row-gap: 10px;

        @media(min-width: $sm) {
            grid-template-columns: repeat(3, 1fr);
        }
    }
    
    .container {
        padding: 0 20px;
    } 

    .items,
    .filter,
    .clear {
        align-items: center;
    }

    .clear {
        padding-left: 0;
        justify-content: flex-end;
        grid-column: 2/4;

        @media(min-width: $sm) {
            grid-column: 3/4;
        }
    }

    .items {
        padding-right: 0;
        justify-content: left;
        grid-column: 1/2;
    }

    .filter {
        justify-content: center;
        grid-row: 2/3;
        grid-column: 1/-1;
        box-shadow: 0 0 20px 1px rgba(#ccc, .3);
        border-radius: 5px;
        
        @media(min-width: $sm) {
            grid-row: 1/2;
            grid-column: 2/3;
            box-shadow: none;
            border-radius: 0;
        }
        
        button {
            padding: 0 10px;
        }

        .btn {
            &.active {
                color: $brightBlue;  
            }
        }
    }
}