@use "../utils/variables" as *;

.create-task {
    position: absolute;
    width: 100%;
    text-align: center;
    margin-top: 50px;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);

    .create {
        width: 100%;
        padding: 20px;
        border: transparent;
        border-radius: 5px;
    }
}

