@import "../../scss/utils/variables";

.tasks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    //transform: translateY(-20px);
    margin-top: -20px;
    

    @media(min-width: $md) {
        //transform: translateY(-40px);
        margin-top: -40px;
    }


    .droppable-container {
        width: 100%;

        &.Dark {
            box-shadow: 0 0 20px 1px black;
        }
        
        &.Light {
            box-shadow: 0 0 20px 1px #ccc;
        }
    }
}

