@import "../../scss/utils/variables";

.tasks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    //transform: translateY(-20px);
    margin-top: -20px;
    

    @media(min-width: $md) {
        //transform: translateY(-40px);
        margin-top: -40px;
    }


    .droppable-container {
        width: 100%;
        background-color: white;
        //z-index: 1;
        margin-bottom: 3px;

    }
}

