@import "../../scss/utils/variables";

header {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 200px;
    width: 100%;

    &.Light {
        background-image: url("../../images/bg-mobile-light.jpg");

        @media(min-width: $md) {
            background-image: url("../../images/bg-desktop-light.jpg");
            height: 300px;
        }
    }
    
    &.Dark {
        background-image: url("../../images/bg-mobile-dark.jpg");

        @media(min-width: $md) {
            background-image: url("../../images/bg-desktop-dark.jpg");
            height: 300px;
        }
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        max-width: 500px;
        margin: 0 auto;
        padding-top: 20px;

        @media (min-width: $md) {
            padding-top: 50px;
        }
        


        picture {
            cursor: pointer;
            padding: 20px 0 0 30px;
        }
    }
}

