@import "../../scss/utils/variables";

.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    

    @media (min-width: $md) {
        justify-content: initial;  
    }

    img {
        padding-right: 20px;
    }

    
    .single-task {
        position: relative;
        transition: all .5s ease;
        
        //padding-left: 70px;
    
        .checkmark {
            position: absolute;
            left: 15px;
            height: 20px;
            width: 20px;
            border: 1px solid $LightGrayishBlue;
            border-radius: 50%;
            cursor: pointer;
            transition: border .5s ease;
    
            @media (min-width: $sm) {
                height: 25px;
                width: 25px;    
                left: 20px;
            }
    
            &::after {
                content: "";
                border: solid white;
                width: 5px;
                height: 12px;
                position: absolute;
                border-width: 0 3px 3px 0;
                left: 8px;
                top: 4px;
                transform: rotate(45deg);
                display: none;
            }
    
            &.done {
                background: linear-gradient(140deg,#57ddff, #c058f3);
            }
    
            &.done::after {
                display: block;
            }
            
           

            &:hover {
                background: linear-gradient(white, white), linear-gradient(140deg, #57ddff 0%, #c058f3 100%);
                border-radius: 50%;
                border: 1px solid transparent;
                background-origin: border-box;
                background-clip: content-box, border-box;
                transition: all .5s ease;
            }
        }
    
        p.done {
            text-decoration: line-through;
            color: $DarkGrayishBlue;
        }
    }

    .cross {
        display: block;

        @media(min-width: $md) {
            display: none;
        }
    }
}
